<div ui-view="home"></div>
<div id="produtos" ui-view="viewProdutos" class="margin-botton65"></div>
<div id="carrinho" ui-view="viewCarrinho" class="margin-botton65"></div>
<div id="pagamento" ui-view="viewPagamento"></div>
<div id="credenciamento" ui-view="viewCredenciamento"></div>
<div id="login" ui-view="viewLogin"></div>
<div id="perfil" ui-view="viewPerfil"></div>
<div id="menu" ui-view="viewMenu"></div>



